RAW/.ipynb_checkpoints
RAW/Etiqu*.csv
RAW/MI-EE*.csv
RWE_DWT/.ipynb_checkpoints
RWE_DWT/Etiqu*.csv
RWE_DWT/MI-EE*.csv
AlfaC3C4/.ipynb_checkpoints
AlfaC3C4/Etiqu*.csv
AlfaC3C4/MI-EE*.csv
DWT-Coef/.ipynb_checkpoints
DWT-Coef/Etiqu*.csv
DWT-Coef/MI-EE*.csv
Espectros-STFT/.ipynb_checkpoints
Espectros-STFT/Etiqu*.csv
Espectros-STFT/MI-EE*.csv
Escalogramas-CWT/.ipynb_checkpoints
Escalogramas-CWT/Etiqu*.csv
Escalogramas-CWT/MI-EE*.csv